body {
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    display: flex;
    
}
/* --------------------------------------------------- */

/* STYLE */
.header, .hero {
    background: #fff;
}
/* --------------------------------------------------- */

/* HEADER STYLE */
.logo {
    
    width: 16px;
    height: auto;
}

a {
    text-decoration: none;
    color: #000;
}

ul {
    list-style: none;
    padding: 0;
}
/* --------------------------------------------------- */

/* HERO STYLE */
.hero-title {
    font-size: 48px;
    font-weight: 700;
    color: #fff;
    margin: 10px 0;
}

.hero-txt {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
}

.button {
    color: #fff;
    border: 0;
    border-radius: 5px;
    background: linear-gradient(to bottom, #e51d22, #c61a1c) ;
    cursor: pointer;
    padding: 10px 30px;
    font-size: 18px;
}

.hero-img {
    width: 100%;
    height: auto;
}
/* --------------------------------------------------- */

/* INFORMATION STYLE */
.info-title {
    font-size: 32px;
    font-weight: 700;
    color: rgb(187, 188, 188);
}

.info-img {
    height: auto;
    width: 200px;
    border: 4px solid #e51d22;
    border-radius: 10px;
}

.info-text {
    font-size: 18px;
    color: #000;
    
}
/* --------------------------------------------------- */

/* QUOTE STYLE */
.quote {
    background: #e5e7eb;
    font-weight: 300;
    color: #000;
}


.quote-p1 {
    font-size: 36px;
}

.quote-p2 {
    font-size: 24px;
}
/* --------------------------------------------------- */

/* CALL TO ACTION STYLE */
.call-to-action {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
}

.cta-container {
    background-color: #e51d22;
    border-radius: 15px;
}

.cta-p1 {
    font-size: 24px;
    color: #fff;
}

.cta-p2 {
    font-size: 18px;
    color: #e5e7eb;
}

.button-inverted {
    color: #fff;
    border: 2px solid #fff;
    border-radius: 5px;
    background: linear-gradient(to bottom, #e51d22, #c61a1c) ;
    cursor: pointer;
    padding: 10px 30px;
    font-size: 18px;
}
/* --------------------------------------------------- */

/* FOOTER STYLE */
.footer {
    color: #ffffff;
    background: #000000;
}
/* --------------------------------------------------- */


/* CONTENT PLACEMENT */
.even-columns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
/* --------------------------------------------------- */

/* HEADER BODY */
.header {
    padding: 0 10%;
    padding-top: 16px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

ul {
    display: flex;
    gap: 16px;
    align-items: center;
}
/* --------------------------------------------------- */

/* HERO BODY */
.hero {
    position: relative;
}

.hero-title {
    box-sizing: border-box;
    letter-spacing: 0.8px;
    line-height: 57.6px;
    margin: 10px 0;
}

.hero-txt {
    letter-spacing: 0.8px;
    line-height: 1.5;
}

.hero-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-img {
    width: 100%;
    height: auto;
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: #fff;
    text-align: left;
}

.button {
    
}

.hero-title, .hero-p, .button {
    margin: 0;
}
/* --------------------------------------------------- */


/* INFORMATION BODY */
.information {
    padding: 2.5% 15% 5%;
}

.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-title {
    margin: 0;
    position: relative;
    letter-spacing: 0.8px;
    line-height: 40.96px;
    text-size-adjust: 100%;
    padding-bottom: 2.5%;
}

.items {
    flex-wrap: wrap;
}

.item {
   max-width: 200px;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.info-text {
    text-align: center;
}
/* --------------------------------------------------- */

/* QUOTES BODY */
.quote {
    justify-content: center;
    align-items: center;
    padding: 5% 15%;
}

.quote-container {
    display: flex;
    flex-direction: column;
}

.quote-p1 {
    text-align: center;
    margin: 0;
}

.quote-p2 {
    margin: 0;
    display: flex;
    justify-content: flex-end;
}
/* --------------------------------------------------- */

/* CALL TO ACTION BODY */
.call-to-action {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 10%;
    margin-right: 10%;
}

.cta-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 90px 200px;
    gap: 15%;
}

.cta-p1 {
    margin: 0;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
}

.cta-p2{
    margin: 0;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
}

.button-inverted {
    display: flex;
    flex-shrink: 0;
}

.button:hover, .button-inverted:hover {
    background: #e33b3d;
}
/* --------------------------------------------------- */

/*  FOOTER BODY */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
}